<main>
  <header>
    <h1>Todo App</h1>
    <button data-cy="add-todo-btn" (click)="showAddTodoForm()">Add Todo</button>
  </header>
  <div *ngIf="isFetchingTodos()" data-cy="loading-state">Loading...</div>

  <div *ngIf="!isFetchingTodos() && todos().length === 0" data-cy="empty-state">
    No todos found
  </div>

  <div
    *ngIf="!isFetchingTodos() && todos().length > 0"
    data-cy="todos-container"
    class="todos-container"
  >
    <div
      *ngFor="let todo of todos(); index as i"
      data-cy="todo-item"
      class="todo-item"
    >
      <p class="title" data-cy="todo-title">{{ todo.title }}</p>
      <p data-cy="todo-description">{{ todo.description }}</p>
      <span class="flex_container">
        <p data-cy="todo-priority">Priority: {{ todo.priority }}</p>
        <p data-cy="todo-due-date">Due: {{ todo.due_date }}</p>
        <div class="buttons_wrapper">
          <button data-cy="delete-btn">Delete</button>
          <button data-cy="update-btn">Update</button>
        </div>
      </span>
    </div>
  </div>

  <app-modal #modal [title]="title">
    @if(showAddTodoModal()) {
    <app-add-todo (newTodo)="onAddTodo($event)" />
    }
  </app-modal>

  <ng-template
    *ngIf="!isFetchingTodos() && errorFetchingTodos"
    data-cy="error-message"
  >
    Error loading todos. Please try again later.
  </ng-template>
</main>
